@page "/"
@using Microsoft.Extensions.Localization
@using DemoClient.Resources
@inject IStringLocalizer<Resource> localizer

<PageTitle>Home</PageTitle>

<h1>@localizer["Welcome"]</h1>
<br />
<p>In this application we showcase how to change the language and the culture in real time using our SDK</p>
<hr />
<h4>How to use</h4>
<ol>
    <li>Change the language to your preference using the dropdown menu</li>
    <li>You will see the changes instantly</li>
</ol>
<br />
<h4>Try it out!</h4>
@code {
    private async Task OnLanguageChanged(ChangeEventArgs e)
    {
        var culture = e.Value.ToString();
        var cultureInfo = new System.Globalization.CultureInfo(culture);

        // Nyelv frissítése
        System.Threading.Thread.CurrentThread.CurrentCulture = cultureInfo;
        System.Threading.Thread.CurrentThread.CurrentUICulture = cultureInfo;

        // Az oldal frissítése
        await Task.Delay(1); // Kis késleltetés biztosítja, hogy a változtatás elérje a UI-t
        StateHasChanged(); // Az oldal újrarenderelése
    }
}