@page "/Login"
@using LocalizationClient.Model
@using LocalizationClient.ViewModels
@inject LoginViewModel loginvm
@inject NavigationManager navigate
@rendermode InteractiveServer

<h1>Login</h1>
<div>
    <label for="username" class="form-label">Username</label>
    <input class="form-control" placeholder="Username" @bind=loginvm.userToLogin.Username>
</div>
<div>
    <label for="password" class="form-label">Password</label>
    <input class="form-control" placeholder="Password" @bind=loginvm.userToLogin.Password>
</div>
<br />
<button type="button" class="btn btn-primary" @onclick="() => LoginUser(loginvm.userToLogin)">Login</button>
<button type="button" class="btn btn-secondary" onclick="location.href='Register'">Register</button>
<br />
@if (loginAlert)
{
    <br />
    <div role="alert" style="color:red">
        Wrong username or password! If you do not have an account please register!
    </div>
}

@code {
    private bool loginAlert = false; 
    private void LoginUser(User user)
    {
        if (loginvm.LoginService(user))
        {
            loginAlert = false;
            navigate.NavigateTo("/", forceLoad: true);
        }
        else
        {
            loginAlert = true;
        };
    }
}
