@page "/register"
@using LocalizationClient.Model
@using LocalizationClient.ViewModels
@inject RegisterViewModel registervm
@inject NavigationManager navigate
@rendermode InteractiveServer

<h1>Register</h1>
<div>
    <label for="username" class="form-label">Username</label>
    <input class="form-control" placeholder="Username" @bind=registervm.userToRegister.Username>
</div>
<div>
    <label for="password" class="form-label">Password</label>
    <input class="form-control" placeholder="Password" @bind=registervm.userToRegister.Password>
</div>
<br />
<button type="button" class="btn btn-primary" @onclick="() => RegisterUser(registervm.userToRegister)">Sign up</button>
<button type="button" class="btn btn-secondary" onclick="location.href='/'">Cancel</button>
<br />
@if (registerSuccess)
{
    <br />
    <div role="alert" style="color:green">
        Registration successful! Now you can login!
    </div>
    <br />
    <button type="button" class="btn btn-primary" onclick="location.href='/Login'">Login</button>
}

@code {
    private bool registerSuccess = false;
    private void RegisterUser(User user)
    {
        if (registervm.RegisterService(user))
        {
            registerSuccess = true;
        }
    }

}
