@page "/localdate"
@using LocalizationClient.ViewModels
@attribute [StreamRendering]
@inject LocalDateViewModel localDatevm

<PageTitle>LocalDate</PageTitle>

<h1>Local Date</h1>

<p>On this page we show you the highest average daily temperature in each season of Hungary in the selected language culture</p>
<h4>About the data</h4>
<ul>
    <li>Date - Highest daily average temperature</li>
    <li>Temperature - Average seasonal temperature in Hungary</li>
    <li>Season - 2023 Seasons</li>
</ul>
@if (localDatevm.GetData().Count == 0)
{
    localDatevm.AddData();
}
<table class="table">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temperature</th>
            <th>Season</th>
            <th>Documented</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dates in localDatevm.GetData())
        {
            <tr>
                <td>@dates.date</td>
                <td>@dates.temperature</td>
                <td>@dates.season</td>
                <td>@dates.time</td>
            </tr>
        }
    </tbody>
</table>
